{%extends 'Admin/admin_base.html'%}
{% load static %}

{% block admin_title%}
Medicines
{%endblock admin_title%}

{% block admin_title2%}
/home remedies
{%endblock admin_title2%}

{%block activeHR%}
<!-- Divider -->
<hr style="width: 15px; border: 3px solid rgb(255, 183, 0); border-radius: 5px; opacity: 80%; margin-top: 0%; margin-bottom: 1%;">
{% endblock activeHR%}

{% block admin_body %}
<div class="d-flex justify-content-between">
    <button type="button" class="btn btn-warning mx-3 mb-3" data-toggle="modal" data-target="#add_HModal">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="21" fill="currentColor" class="bi bi-plus-circle"
            viewBox="0.5 2 15 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg> New
    </button>
    <div class="modal" id="add_HModal">
        <div class="modal-dialog">
            <div class="modal-content" style="border: none; background-color: rgb(221, 221, 221);
                            z-index: 3;
                            ">
                <div class="modal-header bg-secondary">
                    <h4 class="modal-title text-warning">New Medicine</h4>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>

                {% for message in messages %}
                {% if message.tags == "error" %}
                <div class="alert alert-danger alert-dismissible fade show msg" role="alert">
                    <strong>{{ message.tags }}!</strong> {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
                {% endfor %}

                <div class="modal-body">
                    <form action="/login" method="post">
                        <div class="row mb-2">
                            <div class="col-12 col-md-6 col-lg-6">
                                <label for="name" class="form-label"><b>Remedy title:</b></label>
                                <input type="text" class="form-control" id="remedy" placeholder="Remedy title"
                                    name="fname" required>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <label for="formFile" class="form-label"><b>Choose Image:</b></label>
                                <input class="form-control" type="file" id="formFile" accept="image/*">
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-12 col-md-12 col-lg-12">
                                <label for="Description" class="form-label"><b>Description:</b></label>
                                <textarea class="form-control" id="Description" placeholder="Remedy Description"
                                    name="Description" required></textarea>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-12 col-md-12 col-lg-12">
                                <label for="Contents" class="form-label"><b>Accessaries:</b></label>
                                <textarea class="form-control" id="Accessaries" placeholder="Required Accessaries"
                                    name="Accessaries" required></textarea>
                            </div>
                        </div>

                        <!-- <div id="signup_email_error" class="alert alert-danger fade show msg" role="alert">
                                    <strong>INVALID EMAIL</strong>
                                </div>
                                <div id="signup_phone_error" class="alert alert-danger fade show msg" role="alert">
                                    <strong>INVALID PHONE</strong>
                                </div> -->
                        <button type="submit" class="btn btn-warning text-gray-800 mt-2 float-right">
                            Insert
                        </button>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>

    <form class="mx-3" style="width: 400px;">
        <div class="input-group">
            <input type="text" class="form-control bg-light" placeholder="Search for..." aria-label="Search"
                aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<table class="table table-hover table-bordered">
    <thead class="table-primary">
        <tr class="table_tr">
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Accessories</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <td width="10%">dfdfd</td>
        <td>dfsdfs</td>
        <td>gygyg</td>
        <td>gygyg</td>
        <td width="10%">
            <Button type="submit" class="btn bg-success text-white" name="update" value="chval">
                <i class="far fa-edit"></i>
            </Button>
            <Button type="submit" class="btn bg-danger text-white" name="Remove" value="chval">
                <i class="far fa-trash-alt"></i>
            </Button>
        </td>
    </tbody>
    <tfoot>

    </tfoot>
</table>
{% endblock admin_body%}