{%extends 'base.html'%}

{% block background%}
style="background:linear-gradient(45deg, #1de099, #1dc8cd)"
{% endblock background%}

{% block title%} Shopping {%endblock title%}
{% block nav_links%}
<li class="menu-active nav-item">
    <a class="nav-link" href="/">Home</a>
</li>
<li class="menu-active nav-item">
    <a class="nav-link" href="/analyze">Analyzer</a>
</li>
{% endblock nav_links%}

{% block body %}
<form action="#" method="post">
    <div style="margin-bottom: 70px;" id="cont">
        {%if prdno > 0%}
            <div class="myContainer ms-4">
                <div class="section-header head">
                    <h3 class="section-title cta-title fw-bold text-white">Your cart</h3>
                    <span class="section-dividerR ms-4">
                </div>
            </div> {%for item in Cart%} <div class="row bg-white p-2 m-2 mx-5" style="border-radius: 5px;">
                <div class="col-1 text-center">
                    <input class="form-check-input" type="checkbox" name="prod_id" id="{{item.id}}" checked onchange="chng({{item.id}})">
                </div>
                <div class="col-2">
                    <center>
                        <img src="{{item.Img}}" style="width: 100%; border-radius: 5px;" alt="Italian Trulli">
                    </center>
                </div>
                <div class="col-7" style="text-align:justify">
                    <label for="pname"> <b>Name : </b> {{item.Name}}</label>
                    <p class="mb-2"> <b>Description : </b> {{item.Desc}}</p>
                    <label for="qt"><b>Quantity : </b>&nbsp;&nbsp;</label>
                    <input type="number" name="qt" id="qt{{item.id}}" value="{{item.quant}}" onchange="chQuant({{item.id}})" style="border-radius:7px; width:60px">
                    <input type="hidden" id="pprice{{item.id}}" value="{{item.Price}}">
                </div>
                <div class="col-1 d-flex align-items-center" id="qprice{{item.id}}"> {{item.qprice}} </div>
                <div class="col-1 d-flex align-items-center">
                    <form action="/cart/" method="post">
                        <button class="btn bg-danger text-white" name="remove" value="{{item.cartid}}">
                            <i class="far fa-trash-alt"></i>
                        </button> {% csrf_token %}
                    </form>
                </div>
            </div> {% endfor %} <!-- <div class="row bg-white p-2 m-2 mx-5" style="border-radius: 5px;">
                <div class="col-1 text-center">
                    <input class="form-check-input" type="checkbox" name="prod_id" id="prod_id">
                </div>
                <div class="col-2">
                    <center>
                        <img src="../static/admin/img/undraw_posting_photo.svg" style="width: 100%; border-radius: 5px;"
                            alt="Italian Trulli">
                    </center>
                </div>
                <div class="col-7 d-flex align-items-center" style="text-align:justify ">
                    Shatavari kalp
                </div>
                <div class="col-1 d-flex align-items-center">
                    200
                </div>
                <div class="col-1 d-flex align-items-center">
                    <a href="#" class="btn bg-danger text-white" name="Remove" value="{{item.id}}">
                        <i class="far fa-trash-alt"></i>
                    </a>
                </div>
            </div> -->
            <center>
                <hr style="width: 90%; border: 1px solid rgb(255, 183, 0); border-radius: 5px; opacity: 80%; margin: 10px;">
            </center>
            <div class="row bg-white p-2 pt-3 mx-5" style="border-radius: 5px; ">
                <div class="col-10" style="text-align:justify">
                    <label for="Title"><b>Total Amount for <label id="prds">{{prdno}}</label> products (₹): </b></label>
                </div>
                <div class="col-2" id="Tprice">0</div>
            </div>
            <a class="btn btn-warning text-white mt-3 me-5 float-right" data-bs-toggle="collapse" data-bs-target="#collapseExample"> Checkout </a>
            {%else%} 
                <label><b>YOUR CART IS EMPTY</b></label>
                <center>
                    <div class="intro-text pb-4 mt-5">
                        <a href="/shopping" class="btn-get-started scrollto bg-gray-500 border-none text-white" style="font-weight: 700;"> Add Products <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                fill="white" class="bi bi-arrow-right-circle" viewBox="0 0 16 16" style="margin-left: 10px">
                                <path fillRule="evenodd"
                                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                            </svg>
                        </a>
                    </div>
                </center>
            {%endif%}
        </div>
        <div class="collapse m-2 mx-5" style="margin-bottom: 30px;" id="collapseExample">
            <div class="card card-body py-2">
                <label for="Address" class="form-label">
                    <b>Delivery Address:</b>
                </label>
                <textarea name="Address" id="Address" class="form-control" placeholder="Address"></textarea>
                <div class="text-end mt-2">
                    <button class="btn btn-primary text-white" title="proceed to payment" type="submit">Proceed</button>
                </div>
            </div>
        </div> {% csrf_token %}
    </form>
    <script type="text/javascript">
        window.onload = function (){
            if (document.getElementById("msg")) {
                document.getElementById('cont').style.marginTop = "5px";
            } else {
                document.getElementById('cont').style.marginTop = "100px";
            }
            calc();
        }
        function calc() {
            var prdno = parseInt(document.getElementById("prds").innerHTML);
            var Tprice = document.getElementById("Tprice").innerHTML = 0;
            let i = 0;
            while( i < prdno){
                chng(i+1);
                i++;
            }
        }
    </script>
{% endblock body%}