{%extends 'base.html'%} 
{% block background%}
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
{% endblock background%} 
{% block title%} Shopping {%endblock title%} 
{% block nav_links%}
<li class="menu-active nav-item">
  <a class="nav-link" href="/">Home</a>
</li>
<li class="menu-active nav-item">
  <a class="nav-link" href="/analyze">Analyzer</a>
</li>
{% endblock nav_links%} 

{% block body %}
<div class="mainContainer">
  <!-- <NW_Recomender /> -->
  <center>
    <div class="myContainer">
      <div class="section-header head">
        <h3 class="section-title cta-title">Recommended</h3>
        <span class="section-dividerR">
      </div>
      <div class="row" data-aos="fade-up">
        <div class="col-lg-3 col-md-6" style="margin-bottom: 10px">
          <div class="card" style="width: 18rem; border-radius: 15px">
            <img
              src=""
              class="card-img-top"
              alt="..."
              style="border-radius: 15px"
            />
            <div class="card-body">
              <h5 class="card-title">Product name</h5>
              <p class="card-text">
                Some quick product information to show on the card title and
                make up the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary" style="border-radius: 10px">
                View Product
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" style="margin-bottom: 10px">
          <div class="card" style="width: 18rem; border-radius: 15px">
            <img
              src=""
              class="card-img-top"
              alt="..."
              style="border-radius: 15px"
            />
            <div class="card-body">
              <h5 class="card-title">Product name</h5>
              <p class="card-text">
                Some quick product information to show on the card title and
                make up the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary" style="border-radius: 10px">
                View Product
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" style="margin-bottom: 10px">
          <div class="card" style="width: 18rem; border-radius: 15px">
            <img
              src=""
              class="card-img-top"
              alt="..."
              style="border-radius: 15px"
            />
            <div class="card-body">
              <h5 class="card-title">Product name</h5>
              <p class="card-text">
                Some quick product information to show on the card title and
                make up the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary" style="border-radius: 10px">
                View Product
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" style="margin-bottom: 10px">
          <div class="card" style="width: 18rem; border-radius: 15px">
            <img
              src=""
              class="card-img-top"
              alt="..."
              style="border-radius: 15px"
            />
            <div class="card-body">
              <h5 class="card-title">Product name</h5>
              <p class="card-text">
                Some quick product information to show on the card title and
                make up the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary" style="border-radius: 10px">
                View Product
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <button class="btn"></button>
        </div>
      </div>
    </div>
  </center>
  <!-- <NW_Recomender /> -->
  <center>
    <div class="myContainer">
      <div class="section-header head">
        <h3 class="section-title cta-title">Other Products</h3>
        <span class="section-dividerO" />
      </div>
      <div class="row" data-aos="fade-up">
        <div class="col-lg-3 col-md-6" style="margin-bottom: 10px">
          <div class="card" style="width: 18rem; border-radius: 15px">
            <img
              src=""
              class="card-img-top"
              alt="..."
              style="border-radius: 15px"
            />
            <div class="card-body">
              <h5 class="card-title">Product name</h5>
              <p class="card-text">
                Some quick product information to show on the card title and
                make up the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary" style="border-radius: 10px">
                View Product
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" style="margin-bottom: 10px">
          <div class="card" style="width: 18rem; border-radius: 15px">
            <img
              src=""
              class="card-img-top"
              alt="..."
              style="border-radius: 15px"
            />
            <div class="card-body">
              <h5 class="card-title">Product name</h5>
              <p class="card-text">
                Some quick product information to show on the card title and
                make up the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary" style="border-radius: 10px">
                View Product
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" style="margin-bottom: 10px">
          <div class="card" style="width: 18rem; border-radius: 15px">
            <img
              src=""
              class="card-img-top"
              alt="..."
              style="border-radius: 15px"
            />
            <div class="card-body">
              <h5 class="card-title">Product name</h5>
              <p class="card-text">
                Some quick product information to show on the card title and
                make up the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary" style="border-radius: 10px">
                View Product
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" style="margin-bottom: 10px">
          <div class="card" style="width: 18rem; border-radius: 15px">
            <img
              src=""
              class="card-img-top"
              alt="..."
              style="border-radius: 15px"
            />
            <div class="card-body">
              <h5 class="card-title">Product name</h5>
              <p class="card-text">
                Some quick product information to show on the card title and
                make up the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary" style="border-radius: 10px">
                View Product
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <button class="btn"></button>
        </div>
      </div>
    </div>
  </center>
</div>
{% endblock body%}
